/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.blue_bc {
  background-color: blue;
  color: #fff !important;
  font-size: 16px;
}
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fbfbfb;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  display: block;
}

.header-nav {
  display: block;
}

.nav-list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  font-weight: bold;
  gap: 1.5rem;
  font-size: 1.25rem; /*20px*/
}

.nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: blue;
}

.header-banner {
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
}
.banner-img,
.banner-right {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.header-banner img {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-right {
  font-weight: bold;
  padding-left: 1rem;
}

.banner-right h1 {
  font-size: 1.25rem; /*20px*/
}

.banner-right-p-time {
  color: #3c3c3c;
  font-size: 0.875rem; /*14px*/
}

.banner-right-wrap {
  color: blue;
  padding-top: 0.625em;
  padding-bottom: 0.75em;
  font-size: 1rem; /*16px*/
}

.banner-badge {
  color: #fff;
  margin-left: 5px;
  background-color: blue;
  font-size: 0.75rem; /* 12px */
  padding: 0.6em 0.625em;
  border-radius: 9999px;
  display: inline-block;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .header-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .banner-right {
    padding-left: 0.5rem;
    text-align: left;
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
  }

  .banner-badge {
    padding: 0.5em 0.625em;
  }
}

.input-with-icon {
  position: relative;
  max-width: 416px;
  width: 100%; /* 增加 RWD 適應 */
  margin: 80px 0px 40px 10px;
}

.input-with-icon .bi-search {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #4b4b4b;
  font-size: 20px;
}

.input-with-icon input {
  width: 100%;
  padding: 16px 16px 16px 50px;
  border: 1px solid #4b4b4b;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-with-icon input:focus {
  border-color: #007bff;
}
.wrapul {
  max-width: 1296px;
  display: block;
  margin: 0 auto;
}
.wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
}
.wrap > li {
  max-width: 416px;
  /* width: 33%; */
  width: calc((100%-24px * 2) / 3);
  margin-bottom: 40px;
}
.img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
.containe_tag {
  display: inline-block;
  font-size: 24px;
  color: #0027d5;
  padding-right: 8px;
}
.containe_h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
}
.containe_detail {
  color: #4b4b4b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 16px;
}
.containe_btn {
  text-decoration: none;
  color: #4b4b4b;
  display: inline-block;
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 8px 16px;
}
.containe_btn:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 1199px) {
  .input-with-icon {
    margin: 40px auto;
  }
  .wrap {
    gap: 24px;
  }
  .wrap > li {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .wrap {
    gap: 0px;
  }
  .wrap > li {
    width: 96%;
  }
}
.pagul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination .page:hover,
.pagination .arrow:hover,
.pagination .dots:hover {
  background-color: #d6e6ff;
  color: #1a5ddc;
  cursor: pointer;
}
.pagination .page:active,
.pagination .arrow:active,
.pagination .dots:active {
  background-color: #d6e6ff;
  transform: scale(0.8);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 56px;
  gap: 0px;
  background: #fff;
  padding: 16px 20px;
  border-radius: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
.pagination a {
  text-decoration: none;
}
.pagination .page,
.pagination .arrow,
.pagination .dots {
  padding: 8px 0px;
  color: #444;
  border-radius: 0px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.pagination .page.active {
  color: #1a5ddc;
  font-weight: bold;
  background-color: #e6f0ff;
}
.pagination .dots {
  cursor: default;
  color: #888;
}
